<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스를 기재한다. -->
<mapper namespace="com.edu.mapper.CbcommentMapper">

	<!-- 댓글 목록 보기 -->
	<select id="commentList" resultType="com.edu.domain.CbcommentDTO">
	SELECT 	c.*, m.name writerName 
	FROM 	cbcomment c INNER JOIN member m ON c.writer = m.memberId 
	WHERE 	boardNo = #{boardNo} 
	ORDER BY commentNo 
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="commentInsert">
	INSERT INTO cbcomment 
			(writer, content, boardNo)
	VALUES 	(#{writer}, #{content}, #{boardNo})
	</insert>

</mapper>